<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Brolik ToDo App">
		<meta name="author" content="Erin Mahon">

		<!-- Mobile First Rendering -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Bootstrap - Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- Styling -->
	    <link rel="stylesheet" href="stylesheets/css/main.css">
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<!-- Bootstrap - jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Bootstrap - Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    
	   <!--  Javascripts -->
	    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
	    <script type="text/javascript" src="javascripts/angular.min.js"></script>
	    <script type="text/javascript" src="javascripts/app.js"></script>
	</head>
	<body id="style-overrides" ng-app="toDoApp">
		<header>
			<img class="brolik_logo" src="images/Logo.svg">
		</header>
		<div class="cover_photo">
			<img class="cover" src="images/cover_photo.jpg">
		</div>
		<div class="container-fluid" ng-controller="ToDoController">


		<!-- START NEW TASK LIST -->
			<div class="row">
				<div id="todo_tasks" class="col-md-7 col-lg-7">
					
					<div class="row">
						<div class="col-xs-offset-1 col-xs-10 col-sm-offset 1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-4 col-lg-7 border-bottom top">
							<div ng-repeat="todo in lists" ng-class="{disabled: todo.done}" ng-show="$last">
								<div>
									<h1 class="h1 pull-left">{{todo.list}}</h1>
									<div class="input-group pull-right crud-actions">
									<!-- EDIT TASKS -->
										<span type="button"><a class="underline crud" href="">edit</a></span>
									<!-- SAVE TASK -->
										<span type="button"><a class="underline crud" href="">save</a></span>
									</div>	
								</div>
							</div>
						</div>
					</div>

					<br>

				<!-- 	START DISPLAY TASKS -->
					<div class="row">
						<div class="col-xs-offset-1 col-xs-10 col-sm-offset 1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-4 col-lg-7 border-bottom">
							<ul class="list-group" ng-show="tasks.length > 0">
								<li class="list-group-item borderless clearfix task" ng-repeat="todo in tasks" ng-class="{disabled: todo.done}"> 
									<div>
										<p class="pull-left italic" ng-click="editTask($index)">{{$index + 1}}. {{todo.task}}</p>
										<div class="input-group-btn pull-right">
											<span type="button" ng-show="!todo.done"><img ng-value="check-icon" id="check-icon" class="icon" src="images/icon_check.svg" ng-click="doneTask($index)"></span>
	        								<span type="button" ng-show="todo.done"><img class="icon" src="images/icon_close.svg" ng-click="deleteTask($index)"></span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				<!-- END DISPLAY TASKS -->



				<!-- INPUT FORM - CREATE TASKS -->
					<div class="row">
						<div class="col-xs-offset-1 col-xs-10 col-sm-offset 1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-4 col-lg-7">
		      				<div class="form">
			        			<div class="input-group borderless">
			          				<input type="text" required="required" class="form-control borderless italic" ng-model="task" placeholder="Add New Task">
			          				<div class="input-group-btn">
			          					<span type="button" ng-click="deleteTask($index)"><img class="icon icon-left" src="images/icon_close.svg"></span>
			          					<span type="button" ng-click="addTask()"><img class="icon" src="images/icon_add.svg"></span>
			          				</div>
			        			</div>
			      			</div>
			      		</div>
		      		</div>
		      	<!-- END CREAT TASKS -->
	      		</div>	

				<!-- START TASK LISTS LIST -->
				<div id="task_lists" class="col-md-5 col-lg-5">
					<div class="row">
						<div class="col-xs-offset-1 col-xs-10 col-sm-offset 1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-7 border-bottom-sm top">
							<div>
								<h1 class="h1 pull-left">Current Lists</h1>
								<div class="pull-right input-group crud-actions">

									<!-- On click, show x to delete task list next to task list and enable editing of task list titles -->

									<span type="button" ng-click="editList($index)"><a class="underline crud" href="">edit</a></span>

									<!-- On click, show add list input -->

									<span id="new-list-btn" type="button"><a class="underline crud" href="">+ add list</a></span>

								</div>
							</div>
						</div>
					</div>

					
					<!-- INPUT FORM - CREATE NEW LIST -->

					<div class="row">
						<div class="col-xs-offset-1 col-xs-10 col-sm-offset 1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-7">
							<div class="form">
			        			<div class="input-group borderless">
			          				<input type="text" required="required" class="form-control borderless italic" ng-model="list" placeholder="Add New To Do List">
			          				<div class="input-group-btn">
			          					<span type="button" ng-click="addList()"><img class="icon" src="images/icon_add.svg"></span>
			          				</div>
			        			</div>
			        		</div>
			        	</div>
			        </div>


			        <!-- DISPLAY LIST LISTS -->

			        <div class="row">
						<div class="col-xs-offset-1 col-xs-10 col-sm-offset 1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-7 border-bottom-sm">		
							<ul id="todo-lists-list"class="list-group" ng-show="lists.length > 0">
								<li class="list-group-item borderless clearfix list" ng-repeat="todo in lists" ng-class="{disabled: todo.done}">
									<div>
										<p class="pull-left" type="button" ng-click="editList($index)">{{todo.list}}</p>
										<div class="pull-right input-group-btn">
		          							<span type="button"><img class="icon" src="images/icon_close.svg" ng-click="deleteList($index)"></span>
		          						</div>
									</div>
								</li>
							</ul>
							
						</div>
					</div>

					<!-- END DISPLAY LIST OF LISTS -->

					<div class="row">
						<div class="col-xs-offset-1 col-xs-10 col-sm-offset 1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-7">
							<!-- SAVE  -->
							<!-- <div ng-repeat="todo in lists" ng-class="{disabled: todo.done}">
								<h1>{{todo.list}}</h1> -->
							<div class="pull-right input-group crud-actions bottom">
								<span id="" class="pull-right crud" type="button" ng-click="editTask($index)" value="save"><a class="underline" href="">Save</a></span>	
			      			</div>
		      			</div>
			      	</div>
			      	<!-- END LISTS -->
		      	</div>
			</div>
		</div>
	</body>
</html>