<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Brolik ToDo App">
		<meta name="author" content="Erin Mahon">

		<!-- Mobile First Rendering -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Bootstrap - Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- Styling -->
	    <link rel="stylesheet" href="stylesheets/css/main.css">
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<!-- Bootstrap - jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Bootstrap - Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    
	   <!--  Javascripts -->
	    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
	    <script type="text/javascript" src="javascripts/angular.min.js"></script>
	    <script type="text/javascript" src="javascripts/app.js"></script>
	</head>
	<body class="body" ng-app="toDoApp">
		<header>
			<img class="brolik_logo" src="images/Logo.svg">
		</header>
		<div class="cover_photo">
			<img class="cover" src="images/cover_photo.jpg">
		</div>
		<div class="container-fluid" ng-controller="ToDoController">


		<!-- 	START TASK LIST -->
			<div class="row">
				<div id="todo_tasks" class="col-md-7 col-lg-7">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-8 col-md-offset-4 col-lg-8 border-bottom">
							<div ng-repeat="todo in lists" ng-class="{disabled: todo.done}">
								<h1>{{todo.list}}</h1>
							</div>
							<div class="pull-right">
								<!-- EDIT TASK -->
								<span ng-click="editTask($index)"><a class="underline" href="">edit</a></span>
								<!-- SAVE TASK -->
								<span type="button" ng-click=""><a class="underline" href="">save</a></span>
							</div>	
						</div>
					</div>
					<br>

				<!-- 	START DISPLAY TASKS -->
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-8 col-md-offset-4 col-lg-8 border-bottom">
							<ul class="list-group" ng-show="tasks.length > 0">
								<li class="list-group-item borderless clearfix task" ng-repeat="todo in tasks" ng-class="{disabled: todo.done}"> 
									<div>
										<p class="lead pull-left">{{$index + 1}}. {{todo.task}}</p>
										<div class="pull-right">
											<span type="button" ng-show="!todo.done"><img class="icon" src="images/icon_check.svg" ng-click="doneTask($index)"></span>
	        								<span type="button" ng-show="todo.done"><img class="icon" src="images/icon_close.svg" ng-click="deleteTask($index)"></span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- END DISPLAY TASKS -->



					<!-- INPUT FORM - CREATE TASKS -->
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-8 col-md-offset-4 col-lg-8">
		      				<div class="form">
			        			<div class="input-group borderless">
			          				<input type="text" required="required" class="form-control borderless italic" ng-model="task" placeholder="Click here to add new item">
			          				<div class="input-group-btn">
			          					<span type="button" ng-click="deleteTask($index)"><img class="icon" src="images/icon_close.svg"></span>
			          					<span type="button" ng-click="addTask()"><img class="icon" src="images/icon_add.svg"></span>
			          				</div>
			        			</div>
			      			</div>
			      		</div>
		      		</div>
	      		</div>	

				<!-- BEGIN LISTS -->

				<div id="task_lists" class="col-md-5 col-lg-5">
					
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-6 col-md-offset-2 col-lg-6 border-bottom-sm">
							<h1 id="style-overrides">Current Lists</h1>
							<div class="pull-right">
								<span type="button" ng-click="editList($index)"><a class="underline" href="">edit</a></span>
								<span id="new-list-btn" type="button"><a href="">+ add list</a></span>
							</div>
						</div>
						<br>
					</div>
					
					<!-- INPUT FORM - CREATE NEW LIST -->

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-6 col-md-offset-2 col-lg-6 border-bottom-sm">
							<div id="new-list-form" class="form hidden">
			        			<div class="input-group borderless">
			          				<input id="list-name" type="text" class="form-control borderless italic" ng-model="list" placeholder="New To Do List">
			          				<div id="create-new-list" class="input-group-btn">
			          					<span id="add-new-btn" type="button" ng-click="addList()"><img class="icon" src="images/icon_add.svg"></span>
			          				</div>
			        			</div>


			        			<!-- DISPLAY LIST LISTS -->
								<ul class="list-group" ng-show="lists.length > 0">
									<li class="list-group-item borderless clearfix list" ng-repeat="todo in lists" ng-class="{disabled: todo.done}">
										<div>
											<p class="lead pull-left">{{todo.list}}</p>
											<div class="input-group-btn">
			          							<span type="button" ng-click="deleteList($index)"><img class="icon" src="images/icon_close.svg"></span>

											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- END DISPLAY LIST OF LISTS -->

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-6 col-md-offset-2 col-lg-6">
							<!-- SAVE  -->
							<span id="" class="pull-right crud" type="button" ng-click="editTask($index)" value="save"><a class="underline" href="">save</a></span>	
			      			</div>
		      			</div>
			      	</div>
			      	<!-- END LISTS -->
		      	</div>
			</div>
		</div>
	</body>
</html>