<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Brolik ToDo App">
		<meta name="author" content="Erin Mahon">

		<!-- Mobile First Rendering -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Bootstrap - Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- Styling -->
	    <link rel="stylesheet" href="stylesheets/css/main.css">
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<!-- Bootstrap - jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Bootstrap - Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    
	   <!--  Javascripts -->
	    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
	    <script type="text/javascript" src="javascripts/angular.min.js"></script>
	    <script type="text/javascript" src="javascripts/test.js"></script>
	</head>
	<div ng-controller="MyController">
		<p>This project retrieves a small amount of JSON from a node server.</p>
		<div-ng-blind-html-unsafe="hint"></div>
		<button ng-click='loadJson()'>Load Data</button>
		<p>Here is the JSON retrieved from the server</p>
		<p>All data: {{data}}</p>
		<p>Name: {{data.name}}</p>
		<p>hitPoints: {{data.hitPoints}}</p>
		<p>damage: {{data.damage}}</p>
	</div>


<!--   	<body ng-app="myApp" ng-controller="myController">
    	<h1>Trigger directive #2</h1>
		<ul class="cars">
  			<li ng-repeat="car in cars">
     			<div>{{car.name}} <button ng-click="someValue=true" class="btn btn-mini">Edit</button> </div>
      			<form ng-submit="editCar(car)"><edit-car></edit-car></form>
  			</li>
		</ul>
    	<pre>{{editedCars}}</pre>
  	</body> -->
</html>