@import 'variables';

.todo_tasks {
	// margin-left: 20%;
	margin-bottom: 5%;
	position: relative;
}



li.borderless {
	border: none;
}

input.borderless {
	border: none;
	box-shadow: none;
}

.italic {
	font-style: italic;
}


a.underline:active {
	padding-bottom: 5px;
	border-bottom: 1px solid $default-gray;
	-webkit-transition: border 500ms ease;
	-moz-transition: border 500ms ease;
	-ms-transition: border 500ms ease;
	-o-transition: border 500ms ease;
	transition: border 500ms ease; 
}

a.underline:hover {
	padding-bottom: 5px;
	border-bottom: 1px solid $default-gray;
}

div.border-bottom {
	border-bottom: 3px solid $default-tan;
}

div.border-bottom-sm {
	border-bottom: 1px solid $default-tan;
}

div.top {
	padding-bottom: 1%;
}





