@import 'variables';

.todo_tasks {
	// margin-left: 20%;
	margin-bottom: 5%;
	position: relative;
}

img.icon {
	max-height: 18px;
	padding: 10%;
}

li.borderless {
	border: none;
}

input.borderless {
	border: none;
	box-shadow: none;
}

.italic {
	font-style: italic;
}

a.underline:active {
	border-bottom: 1px solid $default-gray;
	-webkit-transition: border 500ms ease;
	-moz-transition: border 500ms ease;
	-ms-transition: border 500ms ease;
	-o-transition: border 500ms ease;
	transition: border 500ms ease; 
}

a.underline:hover {
  border-bottom: 1px solid $default-gray;
}

div.border-bottom {
	border-bottom: 2px solid $default-tan;
}





