// Define color variables
$default-teal: #1eacaa;
$default-white: #ffffff;
$default-black: #000000;
$default-tan: #d6bfab;
$default-gray: #ededed;

// Define typeface variables
$font-stack: 'Open Sans', sans-serif;

