@import 'variables';
@import 'todotasks';

// Page Styling

html {
	background-color: $default-black;
}



body {
	font-family: $font-stack;
	color: $default-gray;
	font-size: 18px;
}
	
h1.h1 {
	font-size: 1.722em;
}

span, p, li {
	// font-size: 18px;
}

.form-control {
	font-size: 18px;
}

a:link, a:visited, a:hover, a:active {
    color: $default-gray;
    text-decoration: none;
}


// Header

header {
	width: 100%;
	position: relative;
	background-color: $default-teal;
	max-height: 100px;
	border-bottom: 4px solid $default-tan;
	z-index: 2;
	img.brolik_logo {
   		max-width: 150px;
   		display: block;
  		margin: 0 auto;
  		padding: 1% 0%;
   	}
}

// Cover Photo

img.cover {
	width: 100%;
	margin-top: -29.5%;
	-webkit-filter: opacity(.5);
	filter: opacity(.5);
}

body.ng-scope {
	background-color: $default-black;
}

// To Do List - Main Content Section

.container-fluid {
	background-color: $default-white;
	border-top: 4px solid $default-tan;
	margin-top: -24%;
	position: relative;
	border-bottom: 10px solid $default-teal;
	padding: 5% 0%;
	min-height: 400px;
}

img.icon {
	max-height: 18px;
	margin-top: 35%;
	// margin-left: 20px;
}
.list-group-item {
	padding: 20px;
}

input {
	margin: 15px 0px;
}

ul#todo-lists-list {
	li.list-group-item{
		padding: 10px;
	}
}

.crud {
	// border: 2px solid black;
	margin-left: 20px;
}

.icon-left {
	margin-right: 20px;
	margin-left: 10px;
}

.crud-actions {
	margin-top: 30px;
}

.bottom {
	margin-top: 20px;
}
