@import 'variables';
@import 'todotasks';

// Page Styling

html {
	background-color: $default-black;
}

// Header

header {
	margin-top: -2%;
	width: 100%;
	position: relative;
	background-color: $default-teal;
	max-height: 100px;
	border-bottom: 2px solid $default-tan;
	z-index: 2;
	img.brolik_logo {
   		max-width: 100px;
   		display: block;
  		margin: 0 auto;
  		padding: 3.25% 0% 2% 0%;
   	}
}

// Cover Photo

img.cover {
	width: 100%;
	margin-top: -30%;
	-webkit-filter: opacity(.5);
	filter: opacity(.5);
}

body.ng-scope {
	background-color: $default-black;
}

// To Do List - Main Content Section
.container-fluid {
	background-color: $default-white;
	border-top: 2px solid $default-tan;
	margin-top: -25%;
	position: relative;
	border-bottom: 10px solid $default-teal;
	padding-top: 5%;
	min-height: 400px;
}